<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            #message_notice { font-weight: 500; text-align: center; }
        </style>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                
                    <a class="navbar-brand" href="{{ path("homepage") }}">
                        <img class="m_logo_img" alt="marmiton.org" src="{{ asset('img/logo.png')}}">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ path("homepage") }}">{{ 'nav-bar.home' |trans({}, 'FOSUserBundle') }}</a></li>
                    <li><a href="{{ path("receipt") }}">{{ 'nav-bar.recipe' |trans({}, 'FOSUserBundle') }}</a></li>
                    <li><a href="#">{{ 'nav-bar.news' |trans({}, 'FOSUserBundle') }}</a></li>
                    <li><a href="{{ path('fos_user_profile_show') }}">{{ 'nav-bar.profile' |trans({}, 'FOSUserBundle') }}</a></li>
                 </ul>
                <div class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a></li>
                    {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div id="message_notice">
            {%  for flashMessage in app.session.flashbag.get('notice') %}
                {{ flashMessage }}
            {% endfor %}
        </div>
        <div class="wrapper-body">
            <div class="container_body">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
    <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <footer class="nb-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-info-single">
	                        <h2 class="title">{{ 'footer.social_network' |trans({}, 'FOSUserBundle') }}</h2>
	                            <ul class="list-unstyled">
		                            <li><a href="#" title=""><i class="fa fa-facebook"></i> Facebook</a></li>
			                        <li><a href="#" title=""><i class="fa fa-twitter"></i> Twitter</a></li>
			                        <li><a href="#" title=""><i class="fa fa-instagram"> Instagram</i></a></li>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="footer-info-single">
	                        <h2 class="title">{{ 'footer.link' |trans({}, 'FOSUserBundle') }}</h2>
	                            <ul class="list-unstyled">
                                    <li><a href="{{ path("homepage") }}"><i class="fa fa-angle-double-right"></i>{{ 'nav-bar.home' |trans({}, 'FOSUserBundle') }}</a></li>
                                    <li><a href="{{ path("receipt") }}"><i class="fa fa-angle-double-right"></i>{{ 'nav-bar.recipe' |trans({}, 'FOSUserBundle') }}</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>{{ 'nav-bar.news' |trans({}, 'FOSUserBundle') }}</a></li>
                                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-angle-double-right"></i>{{ 'nav-bar.profile' |trans({}, 'FOSUserBundle') }}</a></li>
	                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="footer-info-single">
                            <h2 class="title">{{ 'footer.last' |trans({}, 'FOSUserBundle') }}</h2>
                                <ul class="list-unstyled">
                                {% for receipt in receipts %}
                                    <li><a href="{{ path("read_receipt", { 'id': receipt.id }) }}"><i class="fa fa-angle-double-right"></i> {{ receipt.name }}</a></li>
                                {% endfor %}
                                </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="footer-info-single">
                            <h2 class="title">{{ 'footer.contact' |trans({}, 'FOSUserBundle') }}</h2>
                            <p><i class ="fa fa-map-pin"></i> 7 Rue Maurice Grandcoing, 94200 Ivry-sur-Seine</p> 
                            <p><i class ="fa fa-phone"></i> +33144080022</p> 
                            <p><i class ="fa fa-envelope"></i> etna@contact.fr</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ asset('js/javascript.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>﻿
</html>
