{% extends '::base.html.twig' %}
{% block body %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{ asset('img/plat1.jpg') }}" style="margin-bottom:20px">
                <div class="carousel-caption" style="top:200px;width:40%;margin: auto;">
                    <form class="form-group">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">

                                <input type="text" class="form-control input-lg" id="search-receipts" placeholder= "enter_receiptplaceholder">

                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h1 style="    font-family: 'Lobster Two',Arial,sans-serif;">{{ 'receipt.title' |trans({}, 'FOSUserBundle') }}</h1>
    {% for receipt in receipts %}
        {# {{ receipt.image }} #}
        {# {{ receipt.price }} #}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster+Two" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <a href="{{ path("read_receipt", { 'id': receipt.id }) }}">
      <div>
        <div class="col-md-4" >
          <div class="profile-card text-center">

            <img class="img-responsive" src"{{ receipt.picture }}">
            <div class="profile-info">
                <h2 class="hvr-underline-from-center">{{ receipt.name }}<span>{{ 'receipt.dishes' |trans({}, 'FOSUserBundle') }} : {{ receipt.typeDishes.name }}</span><span>{{ 'receipt.create2' |trans({}, 'FOSUserBundle') }} {{ receipt.createAt.date }}</span></h2>
            <div class="text-style">{{ 'receipt.details' |trans({}, 'FOSUserBundle') }} : {{receipt.details}}</div>
            </div>
          </div>
    </div>
  </div>
	</div>

</a>
    {% endfor %}


{% endblock %}


