{% extends '::base.html.twig' %}

{% block body %}

    <div class="container" style="background-color: #fff;margin-top:80px">
        <a href="{{ path("new_receipt") }}"><button type="button" class="btn btn-success">{{ 'receipt.create' |trans({}, 'FOSUserBundle') }}</button></a>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'receipt.name' |trans({}, 'FOSUserBundle') }}</th>
                <th>{{ 'receipt.dishes' |trans({}, 'FOSUserBundle') }}</th>
                <th>{{ 'receipt.type' |trans({}, 'FOSUserBundle') }}</th>
                <th>{{ 'receipt.level' |trans({}, 'FOSUserBundle') }}</th>
                <th>{{ 'receipt.possibility' |trans({}, 'FOSUserBundle') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.name }}</td>
                    <td>{{ receipt.typeDishes.name }}</td>
                    <td>{{ receipt.typeCooking.name }}</td>
                    <td>{{ receipt.levelId }}</td>
                    <td><a href="{{ path("new_receipt", { 'id': receipt.id }) }}">editer</a><a href="{{ path("read_receipt", { 'id': receipt.id }) }}">voir</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}